// brakepoints - 490 px/ 780px / 1020px / víc do 1900px
// Small tablets and portrait smartphones
$small-min: 470px;

// Medium screens
$medium-min: 780px;

// Small desktops
$large-min: 1020px;

// larger than that
$xlarge-min: 1280px;

@mixin sm {
    @media (min-width: #{$small-min}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$medium-min}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$large-min}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$large-min}) {
        @content;
    }
}